<!DOCTYPE html>
<html lang="PL">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza</title>
    <link href="../../public/style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/e9ef1070d1.js" crossorigin="anonymous"></script>
</head>


<body>
    <header class="header">
        <nav class="navbar">
            <a href="pizza" class="nav-logo"><img src="../public/images/pizzaLogo.png"></img></a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="menu" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a href="onas" class="nav-link">O nas</a>
                </li>
                <li class="nav-item">
                    <a href="zaloguj" id="login-link" class="nav-link">Zaloguj</a>
                </li>
                <li class="nav-item">
                    <a href="rejestracja" id="register-link" class="nav-link">Rejestracja</a>
                </li>
                <i class="fas fa-shopping-cart"></i>
            </ul>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>