<%- include('partials/nav') %>
    <div id="login-form" class="account-form">
        <h1 class="form-title ">Zaloguj się:</h1>
        <i class="fas fa-window-close"></i>
    </div>
    <div id="register-form" class="account-form">
        <h1 class="form-title">Utwórz konto:</h1>
        <i class="fas fa-window-close regClose"></i>
    </div>
    <div id="siteBlur"></div>
    <div id="header-main">
        <div id="text-div">
            <h1 id="order-pizza">Zamów Pizzę online</h1>
            <h1 id="local">Najlepszy lokal w mieście</h1>
            <button onload="clickMe()" id="btn-order-pizza"><a id="menu" href="menu">Zamów teraz</a></button>
        </div>
    </div>
    <footer id="site-footer">
        <h1>Kontakt:</h1>
        <p class="copyright">&copy; Adam Wójcik 2021
        </p>
    </footer>

    <script src="js/skrypty.js"></script>
    </body>

    </html>