* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans','Arial',sans-serif;
    font-weight: 700;
    background-color: firebrick; 
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: firebrick;
}


.hamburger {
    font-size: 2.1rem;
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.8rem;
    font-weight: 700;
    color: #131314;
    transition: 0.5s;
}

.nav-link:hover{
    color: rgb(226, 212, 186);
}

img#pizza-logo-img{
    height: 6.3rem;
}


div#header-main{
    position: relative;
    height: calc(100vh - 8.7rem);
    background-image: url('images/pizzaHeader.jpg');
    background-position: center;
    background-size: cover;
    background-position-y:center;
    margin: 0 auto;
    width: 100vw;
    font-family: 'Roboto';
}

h1#order-pizza{
    font-size: 34px;
    padding-top: 110px;
    color: rgb(8, 7, 7);
    font-size:5rem;
    
}

h1#local{
    font-size: 27px;
   
}

button#btn-order-pizza{
    background-color: rgb(226, 212, 186);
    border: none;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
    margin-top: 20px;
    opacity: 1;
    animation: myMove 1.5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 15px;
  
}

/*SLIDER*/

div.container{
    background-color: black;
    width: 540px;
    height: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30vh;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.image-container{
    position: relative;
}

img.slider-img{
    width: 500px;
    height: 280px;
    display: none;
    position: relative;
}

img.img-active{
    display: block;
}

.dot-container{
    width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dot-container button{
    height: 15px;
    width: 40px;
    border-radius: 20%;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid firebrick;
}

.dot-container button:nth-child(1){
    background-color: firebrick;    
}

#prev, #next{
    font-family: 'Open sans';
    height: 40px;
    width: 40px;
    position: absolute;
    background: firebrick;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin: auto;
    font-weight: bolder;
}

#prev{
    left: 5px;
}

#next{
    right: 5px;
}

@keyframes myMove{
    0%{
        margin-top: 20px;
    }
    50%{
        margin-top: 35px;

    }
    100%{
        margin-top: 20px;

    }
}

div#text-div{
    position: absolute;
    width: 100vw;
    height: 35vh;
    text-align: center;
    top: calc(30.5%);
}

/*FOOTER*/

footer{
    position: absolute;
    display: block;
    line-height: 5vh;
    height: 10vh;
    width: 100vw;
    background-color: firebrick;
    text-align: center;
    
}

p.copyright{
    font-size: 1.5em;
}

/*Login and register*/

div#login-form{
    display: none;
}

div#register-form{
    display: none;
}

h1.form-title{
    padding-top: 10px;
    font-size: 2.5em;
}

i.fa-shopping-cart{
    font-size:2.2rem;
    padding-left: 36px;
    cursor: pointer;
    transition: 0.5s;
}

i.fa-shopping-cart:hover{
    color: rgb(226, 212, 186);
}

li.pizza-names{
    height: 20px;
    font-size: 18px;
    color: wheat;
}
div.pizza{
    margin-bottom: 50px;
    text-align: center;
    width: 300px;
    height: 120px;
    background-image: url('images/pizzaLogo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

div.pizzas-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100vw;
    height: 150vh;
    background-color: black;
}
a.add-pizza{
    display: inline-block;
    width: 200px;
    margin-top: 100px;
    border: solid 2px wheat;
    padding: 5px 10px;
    background-color: firebrick;
    font-family: 'Open Sans','Sans-serif';
    text-transform: uppercase;
    font-weight: 600;
}


h1.menu-header{
    color: wheat;
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .nav-menu {
        position: fixed;
        z-index: 1;
        left: -100%;
        top: 8.6rem;
        flex-direction: column;
        background-color: firebrick;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 5px 0px 5px 5px rgba(0, 0, 0, 0.15);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}